langauge: java

dist: trusty
sudo: required

jdk:
  - oraclejdk8

services:
  - mysql

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client

before_install:
  - mysql_upgrade
  - mysql -u root -e 'CREATE DATABASE IF NOT EXISTS loginAuth;'
  - mysql -u root -e "CREATE USER IF NOT EXISTS 'nawaz'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password';"
  - mysql -u root -e "GRANT ALL PRIVILEGES ON loginAuth.* TO 'nawaz'@'localhost';"

cache:
  directories:
    - $HOME/.m2

script:
  - cd restful-user-authentication && mvn clean install -DskipTests=false

# branches:
#   only:
#   - feature-login_authentication

notifications:
    slack: sga-fall2018:e2zEK5UltgzOoMTJfEQz54BL
