language: python
python:
  - "3.6"
install:
  - easy_install distribute
  - pip install -r pipinstalls.txt
script: 
  - pythonMicroservice/manage.py makemigrations --settings=pythonMicroservice.settings_dev
  - pythonMicroservice/manage.py migrate --settings=pythonMicroservice.settings_dev
  - pythonMicroservice/manage.py test --settings=pythonMicroservice.settings_dev
