version: '2'

services:
  web:
    build: .
    image: pythonmicroservice
    command: python3 pythonMicroservice/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    network_mode: 'host'
