version: '3'

services:
  pythonserver:
    image: scatpythonserver
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.2"
          memory: 1024M
      restart_policy:
        condition: on-failure
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    networks:
      - webnet
networks:
  webnet:
    external:
      name: reactserver_webnet
