version: '3'

services:
  rabbitserver:
    image: scatrabbitserver:latest
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.2"
          memory: 1024M
      restart_policy:
        condition: on-failure
    volumes:
      - .:/code
    ports:
      - "1883:1883"
      - "5672:5672"
      - "15672:15672"
    networks:
      - webnet
networks:
  webnet:
    external:
      name: post_webnet
