version: "3"
services:
  web:
    # replace username/repo:tag with your name and image details
    image: scatnodeserver 
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.2"
          memory: 1024M
      restart_policy:
        condition: on-failure
    ports:
      - "4000:4000"
    networks:
      - webnet
networks:
  webnet:
    external:
      name: reactserver_webnet