version: "3"
services:
  reactserver:
    # replace username/repo:tag with your name and image details
    image: scatreactserver 
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.2"
          memory: 1024M
      restart_policy:
        condition: on-failure
    ports:
      - "3000:3000"
    networks:
      - webnet
networks:
  webnet:
    external:
      name: post_webnet